services:
  etcd1:
    image: gcr.io/etcd-development/etcd:${ETCD_VERSION}
    hostname: etcd1
    environment:
      - ETCD_NAME=etcd1
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd1:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd1:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_INITIAL_CLUSTER=etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
      - ETCD_INITIAL_CLUSTER_TOKEN=${ETCD_CLUSTER_TOKEN}
    ports:
      - ${ETCD1_CLIENT_PORT}:${ETCD1_CLIENT_PORT}
      - ${ETCD1_PEER_PORT}:${ETCD1_PEER_PORT}
    networks:
      - shared

  etcd2:
    image: gcr.io/etcd-development/etcd:${ETCD_VERSION}
    hostname: etcd2
    depends_on:
      - etcd1
    environment:
      - ETCD_NAME=etcd2
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd2:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd2:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_INITIAL_CLUSTER=etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
      - ETCD_INITIAL_CLUSTER_TOKEN=${ETCD_CLUSTER_TOKEN}
    expose:
      - "${ETCD2_CLIENT_PORT}"
      - "${ETCD2_PEER_PORT}"
    networks:
      - shared

  etcd3:
    image: gcr.io/etcd-development/etcd:${ETCD_VERSION}
    hostname: etcd3
    depends_on:
      - etcd1
    environment:
      - ETCD_NAME=etcd3
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd3:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd3:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_INITIAL_CLUSTER=etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
      - ETCD_INITIAL_CLUSTER_TOKEN=${ETCD_CLUSTER_TOKEN}
    expose:
      - "${ETCD3_CLIENT_PORT}"
      - "${ETCD3_PEER_PORT}"
    networks:
      - shared

  schemaload_lookup_keyspace:
    command:
      - sh
      - -c
      - /script/schemaload.sh
    depends_on:
      vttablet301:
        condition: service_healthy
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${LOOKUP_KEYSPACE}
      - TARGETTAB=${SCHEMALOAD_LOOKUP_TARGET_TAB}
      - SLEEPTIME=${SCHEMALOAD_LOOKUP_SLEEP_TIME}
      - VSCHEMA_FILE=${LOOKUP_KEYSPACE_VSCHEMA}
      - SCHEMA_FILES=${LOOKUP_KEYSPACE_SCHEMA}
      - POST_LOAD_FILE=
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_PORT=${DB_PORT}
    image: vitess/lite:${VITESS_VERSION}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  schemaload_test_keyspace:
    command:
      - sh
      - -c
      - /script/schemaload.sh
    depends_on:
      vttablet101:
        condition: service_healthy
      vttablet201:
        condition: service_healthy
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${TEST_KEYSPACE}
      - TARGETTAB=${SCHEMALOAD_TEST_TARGET_TAB}
      - SLEEPTIME=${SCHEMALOAD_TEST_SLEEP_TIME}
      - VSCHEMA_FILE=${TEST_KEYSPACE_VSCHEMA}
      - SCHEMA_FILES=${TEST_KEYSPACE_SCHEMA}
      - POST_LOAD_FILE=
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_PORT=${DB_PORT}
    image: vitess/lite:${VITESS_VERSION}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  set_keyspace_durability_policy:
    command:
      - sh
      - -c
      - /script/set_keyspace_durability_policy.sh
    depends_on:
      - vttablet101
      - vttablet301
    environment:
      - KEYSPACES=${KEYSPACES}
      - GRPC_PORT=${VTCTLD_GRPC_PORT}
    image: vitess/lite:${VITESS_VERSION}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vreplication:
    command:
      - sh
      - -c
      - "[ $$EXTERNAL_DB -eq 1 ] && /script/externaldb_vreplication.sh || exit 0"
    depends_on:
      - vtctld
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_PORT=${DB_PORT}
    image: vitess/lite:${VITESS_VERSION}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vtctld:
    command:
      - sh
      - -c
      - "/vt/bin/vtctld ${TOPOLOGY_FLAGS} --cell ${CELL} --service-map '${VTCTLD_SERVICE_MAP}' --backup-storage-implementation ${BACKUP_STORAGE_IMPLEMENTATION} --file-backup-storage-root ${BACKUP_STORAGE_ROOT} --logtostderr=${LOG_TO_STDERR} --port 8080 --grpc-port ${VTCTLD_GRPC_PORT}"
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTCTLD_WEB_PORT}:8080
      - ${VTCTLD_GRPC_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vtgate:
    command: "/script/run-forever.sh /vt/bin/vtgate ${TOPOLOGY_FLAGS} --logtostderr=${LOG_TO_STDERR} --port 8080 --grpc-port ${VTGATE_GRPC_PORT} --mysql-server-port ${VTGATE_MYSQL_PORT} --mysql-auth-server-impl ${VTGATE_MYSQL_AUTH} --cell ${CELL} --cells-to-watch ${CELLS_TO_WATCH} --tablet-types-to-wait ${TABLET_TYPES_TO_WAIT} --service-map 'grpc-vtgateservice' --normalize-queries=${VTGATE_NORMALIZE_QUERIES}"
    depends_on:
      - vtctld
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTGATE_WEB_PORT}:8080
      - ${VTGATE_GRPC_PORT}
      - ${VTGATE_MYSQL_PORT}:${VTGATE_MYSQL_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vtorc:
    command:
      - sh
      - -c
      - /script/vtorc-up.sh
    depends_on:
      - vtctld
      - set_keyspace_durability_policy
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_PORT=${DB_PORT}
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTORC_WEB_PORT}:8080
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vttablet101:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 101
    depends_on:
      - vtctld
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${VTTABLET101_KEYSPACE}
      - SHARD=${VTTABLET101_SHARD}
      - ROLE=${VTTABLET101_ROLE}
      - VTHOST=${VTTABLET101_HOST}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_PORT=${DB_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_CHARSET=${DB_CHARSET}
    healthcheck:
      interval: ${HEALTHCHECK_INTERVAL}
      retries: ${HEALTHCHECK_RETRIES}
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:${VTTABLET_WEB_PORT}/debug/health
      timeout: ${HEALTHCHECK_TIMEOUT}
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTTABLET101_WEB_PORT}:8080
      - ${VTTABLET_GRPC_PORT}
      - ${DB_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vttablet102:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 102
    depends_on:
      - vtctld
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${VTTABLET102_KEYSPACE}
      - SHARD=${VTTABLET102_SHARD}
      - ROLE=${VTTABLET102_ROLE}
      - VTHOST=${VTTABLET102_HOST}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_PORT=${DB_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_CHARSET=${DB_CHARSET}
    healthcheck:
      interval: ${HEALTHCHECK_INTERVAL}
      retries: ${HEALTHCHECK_RETRIES}
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:${VTTABLET_WEB_PORT}/debug/health
      timeout: ${HEALTHCHECK_TIMEOUT}
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTTABLET102_WEB_PORT}:8080
      - ${VTTABLET_GRPC_PORT}
      - ${DB_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vttablet201:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 201
    depends_on:
      - vtctld
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${VTTABLET201_KEYSPACE}
      - SHARD=${VTTABLET201_SHARD}
      - ROLE=${VTTABLET201_ROLE}
      - VTHOST=${VTTABLET201_HOST}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_PORT=${DB_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_CHARSET=${DB_CHARSET}
    healthcheck:
      interval: ${HEALTHCHECK_INTERVAL}
      retries: ${HEALTHCHECK_RETRIES}
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:${VTTABLET_WEB_PORT}/debug/health
      timeout: ${HEALTHCHECK_TIMEOUT}
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTTABLET201_WEB_PORT}:8080
      - ${VTTABLET_GRPC_PORT}
      - ${DB_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vttablet202:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 202
    depends_on:
      - vtctld
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${VTTABLET202_KEYSPACE}
      - SHARD=${VTTABLET202_SHARD}
      - ROLE=${VTTABLET202_ROLE}
      - VTHOST=${VTTABLET202_HOST}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_PORT=${DB_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_CHARSET=${DB_CHARSET}
    healthcheck:
      interval: ${HEALTHCHECK_INTERVAL}
      retries: ${HEALTHCHECK_RETRIES}
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:${VTTABLET_WEB_PORT}/debug/health
      timeout: ${HEALTHCHECK_TIMEOUT}
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTTABLET202_WEB_PORT}:8080
      - ${VTTABLET_GRPC_PORT}
      - ${DB_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vttablet301:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 301
    depends_on:
      - vtctld
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${VTTABLET301_KEYSPACE}
      - SHARD=${VTTABLET301_SHARD}
      - ROLE=${VTTABLET301_ROLE}
      - VTHOST=${VTTABLET301_HOST}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_PORT=${DB_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_CHARSET=${DB_CHARSET}
    healthcheck:
      interval: ${HEALTHCHECK_INTERVAL}
      retries: ${HEALTHCHECK_RETRIES}
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:${VTTABLET_WEB_PORT}/debug/health
      timeout: ${HEALTHCHECK_TIMEOUT}
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTTABLET301_WEB_PORT}:8080
      - ${VTTABLET_GRPC_PORT}
      - ${DB_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

  vttablet302:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 302
    depends_on:
      - vtctld
    environment:
      - TOPOLOGY_FLAGS=${TOPOLOGY_FLAGS}
      - WEB_PORT=${VTTABLET_WEB_PORT}
      - GRPC_PORT=${VTTABLET_GRPC_PORT}
      - CELL=${CELL}
      - KEYSPACE=${VTTABLET302_KEYSPACE}
      - SHARD=${VTTABLET302_SHARD}
      - ROLE=${VTTABLET302_ROLE}
      - VTHOST=${VTTABLET302_HOST}
      - EXTERNAL_DB=${EXTERNAL_DB}
      - DB_PORT=${DB_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_CHARSET=${DB_CHARSET}
    healthcheck:
      interval: ${HEALTHCHECK_INTERVAL}
      retries: ${HEALTHCHECK_RETRIES}
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:${VTTABLET_WEB_PORT}/debug/health
      timeout: ${HEALTHCHECK_TIMEOUT}
    image: vitess/lite:${VITESS_VERSION}
    ports:
      - ${VTTABLET302_WEB_PORT}:8080
      - ${VTTABLET_GRPC_PORT}
      - ${DB_PORT}
    volumes:
      - ./scripts:/script
    networks:
      - shared

networks:
  shared:
    external: true
