services:
  etcd1:
    image: quay.io/coreos/etcd:v3.5.11
    command: etcd --name etcd1 --initial-advertise-peer-urls http://etcd1:2380 --listen-peer-urls http://0.0.0.0:2380 --listen-client-urls http://0.0.0.0:2379 --advertise-client-urls http://etcd1:2379 --initial-cluster-token etcd-cluster --initial-cluster etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380 --initial-cluster-state new
    ports:
      - "2379:2379"
      - "2380:2380"
    hostname: etcd1
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
  etcd2:
    image: quay.io/coreos/etcd:v3.5.11
    command: etcd --name etcd2 --initial-advertise-peer-urls http://etcd2:2380 --listen-peer-urls http://0.0.0.0:2380 --listen-client-urls http://0.0.0.0:2379 --advertise-client-urls http://etcd2:2379 --initial-cluster-token etcd-cluster --initial-cluster etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380 --initial-cluster-state new
    depends_on:
      - etcd1
    hostname: etcd2
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
  etcd3:
    image: quay.io/coreos/etcd:v3.5.11
    command: etcd --name etcd3 --initial-advertise-peer-urls http://etcd3:2380 --listen-peer-urls http://0.0.0.0:2380 --listen-client-urls http://0.0.0.0:2379 --advertise-client-urls http://etcd3:2379 --initial-cluster-token etcd-cluster --initial-cluster etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380 --initial-cluster-state new
    depends_on:
      - etcd1
    hostname: etcd3
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
  external_db_host:
    platform: linux/amd64
    build:
      context: ./external_db/mysql
      dockerfile: Dockerfile
    command:
      - --server-id=1
      - --log-bin=mysql-bin
      - --gtid_mode=ON
      - --enforce_gtid_consistency
      - --general_log=1
      - --slow_query_log=1
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - MYSQL_DATABASE=${DB:-commerce}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-pass}
    healthcheck:
      retries: 10
      test:
        /usr/bin/mysql --user=root --password=$${MYSQL_ROOT_PASSWORD} --execute
        "SHOW DATABASES;"
      timeout: 10s
    ports:
      - "3306"
    restart: always
    volumes:
      - ./external_db/mysql/:/docker-entrypoint-initdb.d/
      - ./external_db/mysql/log:/var/log/mysql
  schemaload_lookup_keyspace:
    command:
      - sh
      - -c
      - /script/schemaload.sh
    depends_on:
      vttablet301:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=lookup_keyspace
      - TARGETTAB=test-0000000301
      - SLEEPTIME=15
      - VSCHEMA_FILE=configs/lookup_keyspace_vschema.json
      - SCHEMA_FILES=sql/lookup_keyspace_schema_file.sql
      - POST_LOAD_FILE=
      - EXTERNAL_DB=0
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    volumes:
      - ./scripts:/script
  schemaload_test_keyspace:
    command:
      - sh
      - -c
      - /script/schemaload.sh
    depends_on:
      vttablet101:
        condition: service_healthy
      vttablet201:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=test_keyspace
      - TARGETTAB=test-0000000101
      - SLEEPTIME=15
      - VSCHEMA_FILE=configs/test_keyspace_vschema.json
      - SCHEMA_FILES=sql/test_keyspace_schema_file.sql
      - POST_LOAD_FILE=
      - EXTERNAL_DB=0
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    volumes:
      - ./scripts:/script
  # set_keyspace_durability_policy:
  #   command:
  #     - sh
  #     - -c
  #     - /script/set_keyspace_durability_policy.sh
  #   depends_on:
  #     - vttablet101
  #     - vttablet301
  #   environment:
  #     - VT_TOPO_IMPLEMENTATION=etcd2
  #     - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
  #     - KEYSPACES=test_keyspace lookup_keyspace
  #     - GRPC_PORT=15999
  #   image: vitess/lite:${VITESS_TAG:-latest}
  #   platform: linux/amd64
  #   volumes:
  #     - ./scripts:/script
  vtctld:
    command:
      - sh
      - -c
      - "/vt/bin/vtctld --topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global --cell test --service-map 'grpc-vtctl,grpc-vtctld' --backup-storage-implementation file --file-backup-storage-root /vt/vtdataroot/backups --logtostderr=true --port 8080 --grpc-port 15999"
    depends_on:
      external_db_host:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/debug/status"]
      interval: 30s
      retries: 10
      timeout: 10s
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15000:8080
      - "15999"
    volumes:
      - ./scripts:/script
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
  vtgate:
    command:
      - sh
      - -c
      - "/script/run-forever.sh /vt/bin/vtgate --topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global --logtostderr=true --port 8080 --grpc-port 15999 --mysql-server-port 15306 --mysql-auth-server-impl none --cell test --cells-to-watch test --tablet-types-to-wait PRIMARY,REPLICA,RDONLY --service-map 'grpc-vtgateservice' --normalize-queries=true --disable-throttler "
    depends_on:
      - vtctld
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15099:8080
      - "15999"
      - 15306:15306
    volumes:
      - ./scripts:/script
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379

  # vtorc:
  #   command:
  #     - sh
  #     - -c
  #     - /script/vtorc-up.sh
  #   depends_on:
  #     - vtctld
  #     - set_keyspace_durability_policy
  #   environment:
  #     - VT_TOPO_IMPLEMENTATION=etcd2
  #     - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
  #     - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
  #     - WEB_PORT=8080
  #     - EXTERNAL_DB=0
  #     - DB_USER=
  #     - DB_PASS=
  #   image: vitess/lite:${VITESS_TAG:-latest}
  #   platform: linux/amd64
  #   ports:
  #     - 13000:8080
  #   volumes:
  #     - ./scripts:/script
  vttablet101:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 101
    depends_on:
      vtctld:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=test_keyspace
      - SHARD=-80
      - ROLE=primary
      - VTHOST=vttablet101
      - EXTERNAL_DB=0
      - DB_PORT=
      - DB_HOST=
      - DB_USER=
      - DB_PASS=
      - DB_CHARSET=
    healthcheck:
      interval: 30s
      retries: 15
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:8080/debug/health
      timeout: 10s
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15101:8080
      - "15999"
    volumes:
      - ./scripts:/script
  vttablet102:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 102
    depends_on:
      vtctld:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=test_keyspace
      - SHARD=-80
      - ROLE=replica
      - VTHOST=vttablet102
      - EXTERNAL_DB=0
      - DB_PORT=
      - DB_HOST=
      - DB_USER=
      - DB_PASS=
      - DB_CHARSET=
    healthcheck:
      interval: 30s
      retries: 15
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:8080/debug/health
      timeout: 10s
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15102:8080
      - "15999"
    volumes:
      - ./scripts:/script
  vttablet201:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 201
    depends_on:
      vtctld:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=test_keyspace
      - SHARD=80-
      - ROLE=primary
      - VTHOST=vttablet201
      - EXTERNAL_DB=0
      - DB_PORT=
      - DB_HOST=
      - DB_USER=
      - DB_PASS=
      - DB_CHARSET=
    healthcheck:
      interval: 30s
      retries: 15
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:8080/debug/health
      timeout: 10s
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15201:8080
      - "15999"
    volumes:
      - ./scripts:/script
  vttablet202:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 202
    depends_on:
      vtctld:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=test_keyspace
      - SHARD=80-
      - ROLE=replica
      - VTHOST=vttablet202
      - EXTERNAL_DB=0
      - DB_PORT=
      - DB_HOST=
      - DB_USER=
      - DB_PASS=
      - DB_CHARSET=
    healthcheck:
      interval: 30s
      retries: 15
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:8080/debug/health
      timeout: 10s
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15202:8080
      - "15999"
    volumes:
      - ./scripts:/script
  vttablet301:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 301
    depends_on:
      vtctld:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=lookup_keyspace
      - SHARD=-
      - ROLE=primary
      - VTHOST=vttablet301
      - EXTERNAL_DB=0
      - DB_PORT=
      - DB_HOST=
      - DB_USER=
      - DB_PASS=
      - DB_CHARSET=
    healthcheck:
      interval: 30s
      retries: 15
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:8080/debug/health
      timeout: 10s
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15301:8080
      - "15999"
    volumes:
      - ./scripts:/script
  vttablet302:
    command:
      - sh
      - -c
      - /script/vttablet-up.sh 302
    depends_on:
      vtctld:
        condition: service_healthy
    environment:
      - VT_TOPO_IMPLEMENTATION=etcd2
      - VT_TOPO_GLOBAL_SERVER_ADDRESS=etcd1:2379
      - TOPOLOGY_FLAGS=--topo-implementation etcd2 --topo-global-server-address etcd1:2379 --topo-global-root vitess/global
      - WEB_PORT=8080
      - GRPC_PORT=15999
      - CELL=test
      - KEYSPACE=lookup_keyspace
      - SHARD=-
      - ROLE=replica
      - VTHOST=vttablet302
      - EXTERNAL_DB=0
      - DB_PORT=
      - DB_HOST=
      - DB_USER=
      - DB_PASS=
      - DB_CHARSET=
    healthcheck:
      interval: 30s
      retries: 15
      test:
        - CMD-SHELL
        - curl -s --fail --show-error localhost:8080/debug/health
      timeout: 10s
    image: vitess/lite:${VITESS_TAG:-latest}
    platform: linux/amd64
    ports:
      - 15302:8080
      - "15999"
    volumes:
      - ./scripts:/script
version: "3.8"
